DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SECRET_KEY = 'tr61-8a=^d5nz=k!(4#!y_w*e$j7(1olf84%fz7^n5_@vak8)^'
CONTACT_EMAIL = "aaaaaa@aaa.ru"
IS_DEBUG=False
ALLOWED_HOSTS=*
IS_SQLITE=False